body{
    margin:40px auto;
    max-width:900px;
    line-height:1.6;
    font-size:18px;
    background-color:#444;
    color:#ddd;
    padding:0 10px
}
h1,h2,h3{ line-height:1.2 }
a:link { 
    color:#ddd;
}
a:visited { 
    color:#f0ffff;
}
